<a href="javascript:void(0);" data-title="{{level.toUpperCase()}}" placement="right" bs-tooltip >
    <img src="img/conteudo/icones/verde-mini.png" ng-show="level.toUpperCase()=='CLEAR'" />
    <img src="img/conteudo/icones/roxo-mini.png" ng-show="level.toUpperCase()=='INDETERMINATE'" />
    <img src="img/conteudo/icones/azul-mini.png" ng-show="level.toUpperCase()=='WARNING'" />
    <img src="img/conteudo/icones/amarelo-mini.png" ng-show="level.toUpperCase()=='MINOR'" />
    <img src="img/conteudo/icones/laranja-mini.png" ng-show="level.toUpperCase()=='MAJOR'" />
    <img src="img/conteudo/icones/vermelho-mini.png" ng-show="level.toUpperCase()=='CRITICAL'" />
    <img src="img/conteudo/icones/preto-mini.png" ng-show="level.toUpperCase()=='FATAL'" />
</a>