<!-- Home -->
<div class="container-fluid bg-cinza">
    <div class="boxes-coloridos boxes-coloridos-ie8 toppadding15">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <a href="capacity/console/index.html" title="Fornece relatórios de estudo de capacidade dos componentes de infraestrutura." class="bg-azul" rel="tooltip">
                    <img src="img/conteudo/icones/83x83/grafico.png" alt="Capacity" />
                    <h3>CAPACITY</h3>
                </a>
            </div>
            <div class="col-sm-4 col-md-3">
                <a href="#" title="Console de configuração do sistema. Controle de usuários e tabelas de domínio." class="bg-rosa" rel="tooltip">
                    <img src="img/conteudo/icones/83x83/admin.png" alt="Central Administrativa" />
                    <h3>CENTRAL ADMINISTRATIVA</h3>
                </a>
            </div>
            <div class="col-sm-4 col-md-3">
                <a href="#alerts" title="Console de gestão de alarmes. Histórico de eventos e relatórios estatísticos." class="bg-verde-escuro" rel="tooltip">
                    <img src="img/conteudo/icones/83x83/alarme.png" alt="Central de Alarmes" />
                    <h3>CENTRAL DE ALARMES</h3>
                </a>
            </div>
            <div class="col-md-3 hidden-sm">
                <a href="#" title="Console de carga das informações do CMDB para o sistema de monitoração." class="bg-azul-escuro" rel="tooltip">
                    <img src="img/conteudo/icones/83x83/cmdb.png" alt="CMDB" />
                    <h3>CMDB</h3>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 hidden-md hidden-lg hidden-xs">
                <a href="#" title="Console de carga das informações do CMDB para o sistema de monitoração." class="bg-azul-escuro" rel="tooltip">
                    <img src="img/conteudo/icones/83x83/cmdb.png" alt="CMDB" />
                    <h3>CMDB</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#" title="Console de status dos agentes (on/off), instalação e relatórios de disponibilidade." class="bg-verde" rel="tooltip">
                    <img src="img/conteudo/icones/83x83/controle-de-agentes.png" alt="Controle de Agentes" />
                    <h3>CONTROLE DE AGENTES</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="#" title="Relatórios disponíveis do sistema (agentes, alarmes, capacity etc)" class="bg-roxo" rel="tooltip">
                    <img src="img/conteudo/icones/83x83/relatorios.png" alt="Relatórios" />
                    <h3>RELATÓRIOS</h3>
                </a>
            </div>
            <div class="col-md-4 hidden-sm">
                <a href="central-de-monitoracao/monitoracao-robotica-de-servicos/index.html" title="Console de configuração do sistema. Controle de usuários e tabelas de domínio." class="bg-amarelo" rel="tooltip">
                    <img src="img/conteudo/icones/83x83/monitoracao.png" alt="Central de Monitoração" />
                    <h3>CENTRAL DE MONITORAÇÃO</h3>
                </a>
            </div>
        </div>
        <div class="row hidden-lg hidden-md hidden-xs">
            <div class="col-sm-12">
                <a href="central-de-monitoracao/monitoracao-robotica-de-servicos/index.html" title="Console de configuração do sistema. Controle de usuários e tabelas de domínio." class="bg-amarelo" rel="tooltip">
                    <img src="img/conteudo/icones/83x83/monitoracao.png" alt="Central de Monitoração" />
                    <h3>CENTRAL DE MONITORAÇÃO</h3>
                </a>
            </div>
        </div>
    </div>
</div>