<a href="javascript:void(0);" data-title="{{status.toUpperCase()}}" bs-tooltip>
    <img src="img/conteudo/icones/aberto.png" ng-show="status.toLowerCase()=='aberto'" />
    <img src="img/conteudo/icones/atendimento.png" ng-show="status.toLowerCase()=='andamento'"/>
    <img src="img/conteudo/icones/aguardando.png" ng-show="status.toLowerCase()=='aguardando'"/>
    <img src="img/conteudo/icones/resolvido.png" ng-show="status.toLowerCase()=='resolvido'"/>
    <img src="img/conteudo/icones/falso-positivo.png" ng-show="status.toLowerCase()=='falso'"/>
</a>
