* {/*behavior: url(/css/PIE.htc);*/}

.ie8 .navbar { padding-bottom:0!important; min-height:45px;}

.ie8 .boxes-coloridos .row a:hover, .ie8 .boxes-coloridos-ie8 a:hover { filter: none;}

.ie8 .boxes-coloridos-ie8 .bg-verde-escuro:hover { background-color:#4BB2B1!important;}
.ie8 .boxes-coloridos-ie8 .bg-rosa:hover { background-color:#E18684!important;}
.ie8 .boxes-coloridos-ie8 .bg-amarelo:hover { background-color:#E4BA7F!important;}
.ie8 .boxes-coloridos-ie8 .bg-azul-escuro:hover { background-color:#649FD1!important;}
.ie8 .boxes-coloridos-ie8 .bg-verde:hover { background-color:#8CCB8C!important;}
.ie8 .boxes-coloridos-ie8 .bg-azul:hover { background-color:#7BACD8!important;}
.ie8 .boxes-coloridos-ie8 .bg-roxo:hover { background-color:#968DCC!important;}

.ie8 #btnFullScreen { display:none;}

.ie8 .breadcrumb { width:700px;}

.ie8 .img-responsive,
.ie8 .thumbnail > img,
.ie8 .thumbnail a > img,
.ie8 .carousel-inner > .item > img,
.ie8 .carousel-inner > .item > a > img {
  display: block;
  width: auto!important;
  max-width: 100%;
  height: auto;
}


.ie8 .porcento16e6 { width:16.4%!important;}

.ie8 .img-thumbnail { width:auto; margin-right:5px;}

@media (min-width: 792px) {
    .ie8 .table-responsive { border-bottom:0; border-right:0;}
}